.App {
  text-align: center;
  margin: 50px;
  display: flex;
  justify-content: space-around;
  font: "Open-sans";
}

.label {
  text-align: left;
  font-size: 14px;
  padding: 6px;
  font-weight: 600;
}
